{% extends 'base.html' %}

{% block conteudo %}
        <h1>Avaliação</h1> <a href="/fazerLogoff/">Clique para Sair </a><br/><br/>

        <br/>

        <form action="/calcular/" method="POST">
        {% csrf_token %}
        {{ form.nome.label }} <br/> {{ form.nome }} <br/>

        {{ form.sexo.label }} <br/> {{ form.sexo }} <br/>
        {{ form.idade.label }} <br/> {{ form.idade }} <br/>
        {{ form.peso.label }} <br/> {{ form.peso }} <br/>
        {{ form.altura.label }} <br/> {{ form.altura }} <br/>

        <input type="submit" value="Calcular" class="btn btn-success" />
        </form>
         <p>{{ resultado }} {{ calculo|floatformat:2 }} </p>

 {%endblock conteudo %}