{% extends 'base.html' %}
<script>  
history.back();  
</script>

{% block conteudo %}

 {% load i18n %}

  <h1>{% trans "Cadastro de Usuário" %}</h1><a href="javascript:history.back(1);">{% trans "Voltar" %}</a> <br/><br/>
  <br/>
  <form action="/validar_cadastro/" method="POST">
   {% csrf_token %}
   {% trans "Usuario" %} <br/> {{ formLogin.login }} <br/>
   {% trans "Senha" %} <br/> {{ formLogin.senha }} <br/>
   <input type="submit" value={% trans "Cadastrar" %} class="btn btn-success" />
  </form>

{%endblock conteudo %}
